@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Founders_Grotesk;
    src: url(Founders_Grotesk/FoundersGrotesk-Semibold.ttf);
}
#header_img{
    z-index: 10;
    pointer-events: all;
}
#latest_section{
    pointer-events: all;
}
#hero_title{
    pointer-events: none;
    z-index: 10;
}
#hero_section{
    pointer-events: none;  
}
#hero_body{
    pointer-events: none;
    z-index: 10;
}
#contact_icon{
    pointer-events: all;
}
#about_me{
    pointer-events: all;
}
#heading{
    font-size: xx-large;
    font-weight: 700;
    border-bottom: 1px solid white;
    align-items: center;
    padding: auto;
    
}
#project0{
    display: flex;
    gap: 150px;
    flex-direction: row;
    margin: 20px;
    padding: 20px;
}
#project_image_link{
    height: 100%;
    width: 50%;
    object-fit: cover ;
    
}
#project_image{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;

}
#project_description{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
#project_title{
    font-size: 40px;
    font-weight: 600;
    color: #fc815c;
    font-family: 'Nunito', sans-serif;
}
#project_body{
    font-size: 15px;
    font-weight: 300;
    color: white;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 15px;
}
#tags{
    display: flex;
    flex-direction: row;
    gap: 2px;
}

#tag1, #tag2, #tag3,#tag4,#tag5{
    font-size: 12px;
    border: 1px solid white;
    border-radius: 15px;
    padding: 7px;
    margin: 7px;
    color: white;
    font-family: 'Nunito', sans-serif;
   }